<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" >

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></link>
	<title>My Cart</title>
</head>
<body>
	<h1 align="center">MY CART</h1>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Cadastro
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	       		<form id="id_form_pag_produto" action="#" th:action="@{/cadastroProduto}" method="get">
	       			<a th:class="dropdown-item" th:href="@{/cadastroProduto}">Produto</a>
	          	</form>
		        <div class="dropdown-divider"></div>
		          	<form id="id_form_pag_cupom" th:action="@{/cadastroCupom}" method="get">
		       			<a th:class="dropdown-item" th:href="@{/cadastroCupom}">Cupom</a>
		          	</form>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Relatório
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	       		<form id="id_form_lista_produto" action="#" th:action="@{/listaProdutos}" method="get">
	       			<a th:class="dropdown-item" th:href="@{/listaProdutos/1}">Produtos</a>
	          	</form>
	         	<div class="dropdown-divider"></div>
	          	<form id="id_form_lista_cupom" action="#" th:action="@{/listaCupons}" method="get">
	       			<a th:class="dropdown-item" th:href="@{/listaCupons/1}">Cupons</a>
	          	</form>
	        	<div class="dropdown-divider"></div>
	          	<form id="id_form_lista_pedido" action="#" th:action="@{/listaPedidos}" method="get">
	       			<a th:class="dropdown-item" th:href="@{/listaPedidos}">Pedidos</a>
	          	</form>
        	</div>
	      </li>
	    </ul>
	  </div>
	</nav>
	
	<div align="center" th:if="${listaProdutos != null && !listaProdutos.isEmpty()}">
		<form th:action="@{/1}">
		    Produto: 
		    &nbsp;
		    <input type="text" name="keyword" id="keyword" placeholder="Digite um produto" size="50" th:value="${keyword}" required />
		    &nbsp;
		    <input type="submit" value="Pesquisar" class="btn btn-primary btn-sm" />
		    &nbsp;
		    <input type="button" value="Limpar" id="btnClear" class="btn btn-secondary btn-sm" onclick="limparPesquisa();" />
		</form>
	</div>
	
 	<br /><br />
	
	<div class="container" th:fragment="produto-list" th:if="${listaProdutos != null && !listaProdutos.isEmpty()}">
		<div class="row">
	        <div class="col-2" th:each="produto : ${listaProdutos}">
	        	<div>
		        	<ul style="list-style: none;" >
		        		<li align="center">
		        			<label th:text="${produto.descricao}"></label><br />
							<h5> <span th:text="${#numbers.formatDecimal(produto.preco, 1, 2, 'COMMA')}"></span> </h5>
                           	<form id="id_form_addcarrinho" th:action="@{/carrinho/{id}(id=${produto.id})}" method="post">
								<input type="submit" value="COMPRAR" class="btn btn-success btn-sm" />
							</form>
		        		</li>
		        	</ul>
	        	</div>
			</div>
		</div>
    </div>
    

	<!-- jQuery, Popper, Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	<!-- SCRIPTS JS -->
	<script type="text/javascript"> 
    	function limparPesquisa() {
	        window.location = "[[@{/1}]]";
	    }
	</script> 
</body>
</html>